
<h1> Edit a decoration here. </h1>

<form action='/decorations/<%= @decoration.id %>' method="POST">
  <input type = "hidden" id = "hidden" name = "_method" value = "PATCH">

  <label>Decoration name:</label>
    <input type="text" name="dec_name" value="<%= @decoration.dec_name %>"><br>
  <label>Decoration color:</label>
    <input type="text" name="color" value="<%= @decoration.color %>"><br>

    <label> Which plant does this belong in? </label>
      <% Plant.all.each do |plant| %>
        <input type="radio" name="plant_id"
        value="<%=plant.id%>">
        <label><%=plant.name %></label>
       <%end%>

  <input type="submit" value="Update">
</form>

<br><br><br>
<a href="/decorations">Decorations Home</a><br>
<a href="/logout">Log Out</a>
<br>
