
<h1><%= current_user.name %>'s plants:</h1>

<% if current_user.plants != [] %>
  <ul>
    <% current_user.plants.each do |plant| %>
      <li><a href="/plants/<%= plant.id %>"><%= plant.name %>
      <%= plant.water_needed %><%= plant.light_needed %>
      </a></li>
    <% end %>
  </ul>
<% else %>
  You don't have any plants.
  <br>
<% end %>

<br>

<% if current_user.decorations != [] %>
  <ul>
    <% current_user.decorations.each do |plant| %>
      <li><a href="/decorations/<%= plant.id %>"><%= decoration.dec_name %>
      <%= decoration.color %> Belongs to <%= decoration.plant.name%>
      </a></li>
    <% end %>
  </ul>
<% else %>
  You don't have any decorations.
  <br>
<% end %>

<br>
