

<h1> Here are all of your plants. </h1>

<%= "Welcome, #{current_user.username}" %>

<% Plant.all.each do |plant| %>
<%= plant.name %>
<%= plant.type %>
<%= plant.water_needed %>
<%= plant.light_needed %>
<br><br>
<% end %>

<h2> Add a plant here: </h2>
<a href="/plants/new">New Plant</a><br>
