
<h1><%= "Welcome!" %> </h1>
<br><h2>Here are all the plants</h2><br>

<% Plant.all.each do |plant| %>
<%= plant.name %> by:
<%= plant.user.name %> <br>


<% if current_user == plant.user %>
    <a href="/plants/<%= plant.id %>/edit">Edit</a>
    <form action="/plants/<%= plant.id %>/delete" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit">Delete</button>
    </form>
    <br><br>
<% end %>
<br>
<% end %>



<h2> Add a plant here: </h2>
<a href="/plants/new">New Plant</a><br><br>

<h2> Add a decoration here: </h2>
<a href="/decorations/new">New Decoration</a><br><br>

<h1> See all your decorations here: </h1>
<a href="/decorations">Decoration landing page</a><br>

<br><br><br>
<a href="/logout">Log Out</a>
<br>
